@use "variables" as v;

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%; // 16px
}

body {
  background: v.$backgroundColor;
  font-weight: 400;
  line-height: 1.75;
  color: v.$textColor;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: v.$letterSpacing;
}

h1 {
  margin: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: v.$small-text;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: v.$white;
  background: v.$primary-500;
  border: transparent;
  border-radius: v.$borderRadius;
  letter-spacing: v.$letterSpacing;
  padding: 0.375rem 0.75rem;
  box-shadow: v.$shadow-1;
  transition: v.$transition;
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: v.$primary-700;
  box-shadow: v.$shadow-3;
}
.btn-hipster {
  color: v.$primary-500;
  background: v.$primary-200;
}
.btn-hipster:hover {
  color: v.$primary-200;
  background: v.$primary-700;
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: v.$borderRadius;
}

.alert-danger {
  color: v.$red-dark;
  background: v.$red-light;
}
.alert-success {
  color: v.$green-dark;
  background: v.$green-light;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid v.$grey-400;
  border-radius: 50%;
  border-top-color: v.$primary-500;
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;

  .underline {
    background: v.$primary-500;
    width: 10rem;
    height: 0.25rem;
    margin: 0 auto;
  }

  span {
    color: v.$primary-500;
  }
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 30rem;
  background: v.$white;
  border-radius: v.$borderRadius;
  padding: 2rem;
  box-shadow: v.$shadow-1;
  transition: v.$transition;
}
.section-center:hover {
  box-shadow: v.$shadow-3;
}

.remove-btn {
  padding: 0.15rem 0.25rem;
  font-size: 0.75rem;
  background: v.$black;
}
